.page {
  position: relative;
  min-height: 100vh;
  color: white;
}




.wrapper {
  position: relative;
  z-index: 1;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.2);
}

/* TITULO */
.card h1 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 500;
}

/* INPUT */
.inputGroup {
  position: relative;
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.9);
  color: #000;
}

/* ÍCONE */
.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

/* RESULTADOS */
.resultados {
  max-height: 200px;
  overflow-y: auto;
  text-align: left;
}

/* ITEM */
.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-size: 14px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  color: #aaa;
  font-size: 13px;
  position: relative;
  z-index: 1;
}