header {
  background-color: black;
  padding: 1rem;
}
.nav {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.nav a {
  text-decoration: none;
  padding: 8px;
  color: rgb(90, 82, 232);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.nav a:hover {
  background-color: rgb(96, 158, 208);
  color: #ededed;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: black;
}
